<h5>
    Kicks
</h5>
<table *ngIf="tableMode" class="table table-striped" >
    <thead>
        <tr>
            <td>ID</td>
            <td>Time</td>
            <td>Reaction Speed</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let k of kicks">
            <ng-template [ngIf]="kick?.id != k.id">
                <td>{{k.id}}</td>
                <td>{{k.kickDateTime}}</td>
                <td>{{k.reactionSpeed}} sec</td>
            </ng-template>
        </tr>
    </tbody>
</table>
<button class="btn btn-success" (click)="createChart(kicks)">See chart</button>
<template #chartContainer>
    <!-- <app-kick-chart [kicks]='this.arrayOfKicks'></app-kick-chart> -->
</template>
