<h1>List of users</h1>
<input type="button" value="Add" class="btn btn-default" (click)="addUser()" />

<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td style="width: 10%">ID</td>
            <td style="width: 35%">Name</td>
            <td style="width: 35%">Last Name</td>
            <td style="width: 20%"></td>
        </tr>
    </thead>
    <tbody *ngFor="let u of users">
        <tr>
            <ng-template [ngIf]="user?.id != u.id" [ngIfElse]="edit">
                <td class="">
                    <a class="btn" data-toggle="collapse" href="#user-trainings{{u.id}}" role="button"
                        aria-expanded="false" aria-controls="user-trainings">{{u.id}}</a>
                </td>
                <td class="">{{u.name}}</td>
                <td class="">{{u.lastName}}</td>
                <td class="">
                    <button class="btn btn-primary" (click)="editUser(u)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteUser(u)">Delete</button>
                </td>
            </ng-template>
        </tr>
        <tr>
            <td colspan="4">
                <div class="collapse" id="user-trainings{{u.id}}">
                    <div class="card card-body">
                        <app-user-trainings [user]="u"></app-user-trainings>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="user.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="user.lastName" class="form-control" />
    </td>
    <td>
        <input type="button" value="Save" (click)="saveUser()" class="btn btn-sm btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<ng-template #create>
    <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="user.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" [(ngModel)]="user.lastName" class="form-control" />
    </div>
    <div>
        <input type="button" value="Save" (click)="saveUser()" class="btn btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>