<h5>
    {{this.training.name}} exercises
</h5>
<input type="button" value="Add" class="btn btn-default" (click)="addExercise()" />

<table *ngIf="tableMode; else create" class="table table-striped" >
    <thead>
        <tr>
            <td>ID</td>
            <td>Start</td>
            <td>End</td>
            <td></td>    
        </tr>
    </thead>
    <tbody *ngFor="let e of exercises">
        <tr>
            <ng-template [ngIf]="exercise?.id != e.id" [ngIfElse] = "edit">
                <td>
                    <a class="btn" data-toggle="collapse" href="#exercise-kicks{{e.id}}" role="button"
                    aria-expanded="false" aria-controls="user-trainings">
                        {{e.id}}
                    </a>
                </td>
                <td>{{e.startDateTime}}</td>
                <td>{{e.endDateTime}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editExercise(e)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteExercise(e)">Delete</button>
                </td>
            </ng-template>
        </tr>
        <td colspan="4">
            <div class="collapse" id="exercise-kicks{{e.id}}">
                <div class="card card-body">
                    <app-exercise-kicks [exercise]="e"></app-exercise-kicks>
                </div>
            </div>
        </td>
    </tbody>
</table>

<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="exercise.startDateTime" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="exercise.endDateTime" class="form-control" />
    </td>
    <td>
            <input type="button" value="Save" (click)="saveExercise()" class="btn btn-sm btn-success" />
            <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<ng-template #create>
    <div class="form-group">
        <label>Start</label>
        <input type="text" [(ngModel)]="exercise.startDateTime" class="form-control" />
    </div>
    <div class="form-group">
        <label>End</label>
        <input type="text" [(ngModel)]="exercise.endDateTime" class="form-control" />
    </div>
    <div>
        <input type="button" value="Save" (click)="saveExercise()" class="btn btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>